@-webkit-keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@keyframes AnimationName { 
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}

body {
  font-family: 'Kanit', sans-serif;

  background: linear-gradient(270deg, #3F5866, #2B3A42);
  background-size: 400% 400%;

  -webkit-animation: AnimationName 30s ease infinite;
  -moz-animation: AnimationName 30s ease infinite;
  animation: AnimationName 30s ease infinite;
}

body, html {
  height: 100%;
  min-height: 100%;
  overflow-x: hidden;
}

.banner-container  {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 1;
}

.banner-container .banner-content {
  z-index: 99999;
  position: absolute;
  height: 100%;
  width: 100%;
}

.banner-container .banner-content .banner {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
}

.banner-container .banner-content .banner h1 {
  font-size: 64px;
  text-transform: uppercase;
  color: #F0F0DF;
  letter-spacing: 2px;
  font-weight: 500;
  text-align: center;
}

.banner-container .banner-content .banner p {
  color: #F0F0DF;
  font-size: 22px;
  font-weight: 200;
  letter-spacing: 1.5px;
  text-align: center;
  padding: 0px 30px;
}

a:link {
  color: #FF8F00; 
  background-color: transparent; 
  text-decoration: none;
}

a:visited {
  color: #FF8F00;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: #FF8F00;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: #FF8F00;
  background-color: transparent;
  text-decoration: underline;
}